<h3> Create Student </h3> <br>
<form [formGroup]="studentForm" (ngSubmit)="onsubmit()">
  <div class="mb-3">
    <label for="exampleInputName1" class="form-label">Full Name</label>
    <input type="name" class="form-control" id="exampleInputName" aria-describedby="emailHelp" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      formControlName="email">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password"
      formControlName="password">
  </div>
  <div class="mb-3">
    <label for="exampleInputRollNumber" class="form-label">Roll Number</label>
    <input type="email" class="form-control" id="exampleInputRollNumber" aria-describedby="emailHelp"
      formControlName="rollNumber">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
